<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/process' method='post'>
        {%csrf_token%}
        <h3>Add a new word</h3>
        <input type='text' name='word'>
        <ul>Choose color
            <li><input type=radio name='color' value='Red'> Red</li>
            <li><input type=radio name='color' value='Blue'> Blue</li>
            <li><input type=radio name='color' value='Green'> Green</li>
        </ul>
        <label><input type="checkbox" name='isBig'> show in BIG fonts!</label>
        <button>Add to Session</button>
    </form>
    <div>
    Hello World!
    {% if words%}
        {%for word in words%}
            <p>
                <span style='color:{{word.color}}; font-weight:bold'>{{word.word}}</span>
                - added on date
            </p>
        {%endfor%}
    {%endif%}
    </div>
    <form action='/clear'>
        <button>clear</button>
    </form>
</body>
</html>